<section id="about" class="section-about">
  <h2 class="title">Sobre el Juego</h2>
  <div class="about-container">
    <picture class="about-picture">
      <source srcset="./img/about/about-mobile.png" media="(min-width: 320px)" />
      <source srcset="./img/about/about-desk.png" media="(min-width: 1200px)" />
      <img src="./img/about/about-desk.png" alt="Guerrero en batalla" />
    </picture>

    <div class="text-wrapper-about">
      <p class="about-text">
        Embárcate en *El Camino del Guerrero*, un juego RPG de acción donde explorarás tierras místicas y enfrentarás desafíos épicos.
      </p>
      <p class="about-text">
        Desarrolla tu personaje, domina habilidades únicas y elige tu destino en este mundo medieval lleno de misterios.
      </p>
    </div>
  </div>
</section>

