<section id="benefits" class="benefits-section">
  <h2 class="title">Ventajas</h2>
  <ul class="benefits-list">
    <li class="benefits-item">
      <img src="./img/benefits/benefits-1.png" alt="Poderes de héroe" class="benefits-img" />
      <div class="benefits-wrapper">
        <h3 class="benefits-item-title">Habilidades Únicas:</h3>
        <p class="benefits-text">Cada guerrero tiene poderes especiales que pueden cambiar el curso de la batalla.</p>
      </div>
    </li>
    <li class="benefits-item">
      <img src="./img/benefits/benefits-2.png" alt="Modos de juego" class="benefits-img" />
      <div class="benefits-wrapper">
        <h3 class="benefits-item-title">Modos de Juego Diversos:</h3>
        <p class="benefits-text">Participa en combates individuales, misiones cooperativas y torneos globales.</p>
      </div>
    </li>
    <li class="benefits-item">
      <img src="./img/benefits/benefits-3.png" alt="Exploración" class="benefits-img" />
      <div class="benefits-wrapper">
        <h3 class="benefits-item-title">Exploración de un Mundo Fantástico:</h3>
        <p class="benefits-text">Descubre ruinas ancestrales y tesoros ocultos.</p>
      </div>
    </li>
  </ul>
</section>

