<section id="reviews" class="user-reviews">
  <h2 class="h2reviews">Reseñas de usuarios
</h2>
  <picture class="reviews-pictures">
    <source
      srcset="./img/reviews/reviews-mobile.png"
      media="(min-width: 320px)"
    />
    <source
      srcset="./img/reviews/reviews-desk.png"
      media="(min-width: 1200px)"
    />
    <img src="./img/reviews/reviews-desk.png" alt="User Reviews" />
  </picture>

  <div class="reviews-container">
    <div class="review-slot">
      <div class="bingo-cubes">
        <div class="cube cube-b"></div>
        <div class="cube cube-i"></div>
        <div class="cube cube-n"></div>
        <div class="cube cube-g"></div>
        <div class="cube cube-o"></div>
      </div>
      <h3 class="namebingo">CaninoFan99:</h3>
      <div class="star-rating">
        <img
          src="./img/reviews/Rating.png"
          alt="game logo"
          class="reviewsrating"
        />
      </div>
      <p class="textbingo">
        "Los poderes del héroe añaden un giro emocionante al bingo tradicional.
        ¡Me encanta!"
      </p>
    </div>

    <div class="review-slot">
      <div class="bingo-cubes">
        <div class="cube cube-b"></div>
        <div class="cube cube-i"></div>
        <div class="cube cube-n"></div>
        <div class="cube cube-g"></div>
        <div class="cube cube-o"></div>
      </div>
      <h3 class="namebingo">FantasyGamer:</h3>
      <div class="star-rating">
        <img
          src="./img/reviews/Rating.png"
          alt="game logo"
          class="reviewsrating"
        />
      </div>

      <p class="textbingo">
        "Una mezcla perfecta de aventura y diversión del bingo. ¡Altamente
        recomendable!"
      </p>
    </div>
    <div class="review-slot">
      <div class="bingo-cubes">
        <div class="cube cube-b"></div>
        <div class="cube cube-i"></div>
        <div class="cube cube-n"></div>
        <div class="cube cube-g"></div>
        <div class="cube cube-o"></div>
      </div>
      <h3 class="namebingo">HeroMaster:</h3>
      <div class="star-rating">
        <img
          src="./img/reviews/Rating.png"
          alt="game logo"
          class="reviewsrating"
        />
      </div>
      <p class="textbingo">
        "Los gráficos y la jugabilidad son de primera categoría. ¡Nunca se
        vuelve aburrido!"
      </p>
    </div>
    <div class="review-slot">
      <div class="bingo-cubes">
        <div class="cube cube-b"></div>
        <div class="cube cube-i"></div>
        <div class="cube cube-n"></div>
        <div class="cube cube-g"></div>
        <div class="cube cube-o"></div>
      </div>
      <h3 class="namebingo">QuestSeeker:</h3>
      <div class="star-rating">
        <img
          src="./img/reviews/Rating.png"
          alt="game logo"
          class="reviewsrating"
        />
      </div>
      <p class="textbingo">
        "Desbloquear nuevos héroes y reinos me hace volver todos los días."
      </p>
    </div>
    <div class="review-slot">
      <div class="bingo-cubes">
        <div class="cube cube-b"></div>
        <div class="cube cube-i"></div>
        <div class="cube cube-n"></div>
        <div class="cube cube-g"></div>
        <div class="cube cube-o"></div>
      </div>
      <h3 class="namebingo">SocialChamp:</h3>
      <div class="star-rating">
        <img
          src="./img/reviews/Rating.png"
          alt="game logo"
          class="reviewsrating"
        />
      </div>
      <p class="textbingo">
        "El modo multijugador es increíble—una excelente forma de competir con
        amigos."
      </p>
    </div>
    <div class="reviews-container"></div>
  </div>
</section>
