<section id="why-us" class="why-section">
  <h2 class="why-title">Por qué te encantará este juego</h2>
  <div class="why-container">
    <div class="why-text-blocks">
      <div class="why-item">
        <p class="why-text">
          Combina la emoción del RPG con una historia épica.
        </p>
      </div>
      <div class="why-item">
        <p class="why-text">
          Personajes con habilidades únicas y personalización avanzada.
        </p>
      </div>
      <div class="why-item">
        <p class="why-text">
          Explora mundos abiertos llenos de sorpresas y desafíos.
        </p>
      </div>
      <div class="why-item">
        <p class="why-text">
Proporciona actualizaciones periódicas con nuevos desafíos, héroes y eventos.
        </p>
      </div>
      <div class="why-item">
        <p class="why-text">
Perfecto para juegos casuales o diversión competitiva con amigos.
        </p>
      </div>
    </div>
    <div class="section-image-container">
      <img src="./img/why-you-love/pig-desk.png" alt="User Reviews" class="reviews-picture">
    </div>
  </div>
</section>
